<body [ngClass]="darkTheme() ? 'dark-theme' : '' ">
    <form class="container" (ngSubmit)="validateForm()" [formGroup]="loginForm">
        <h2 class="mb-24">Inicio de sesión</h2>

        <span class="text mb-24">
            Ingresa tu información para entrar al sistema de calificaciones
        </span>

        <div class="field-form mb-24">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.875 3.75H4.125A2.628 2.628 0 0 0 1.5 6.375v11.25a2.628 2.628 0 0 0 2.625 2.625h15.75a2.627 2.627 0 0 0 2.625-2.625V6.375a2.627 2.627 0 0 0-2.625-2.625Zm-.665 4.342-6.75 5.25a.75.75 0 0 1-.92 0l-6.75-5.25a.75.75 0 1 1 .92-1.184L12 11.8l6.29-4.892a.75.75 0 0 1 .92 1.184Z"></path>
            </svg>
            <p class="text">Correo: </p>
        </div>

        <input type="text" class="input-form mb-24" [placeholder]="emailText" formControlName="Correo">

        <div class="field-form mb-24">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.25 9h-.75V5.25a4.5 4.5 0 1 0-9 0V9h-.75a3.003 3.003 0 0 0-3 3v8.25a3.003 3.003 0 0 0 3 3h10.5a3.004 3.004 0 0 0 3-3V12a3.004 3.004 0 0 0-3-3ZM15 9H9V5.25a3 3 0 1 1 6 0V9Z"></path>
            </svg>
            <p class="text">Contraseña: </p>
        </div>

        <input type="password" class="input-form mb-24" [placeholder]="passwordText" formControlName="Password">

        <div class="forgot mb-24">
            <p class="text"> ¿Olvidaste tu contraseña?</p>
            <span class="text">Solicitar código</span>
        </div>

        <button class="btn-primary">
            Ingresar
        </button>
        
    </form>
</body>