.dark-theme form{
    background-color: var(--black);
    box-shadow:
    -2px -1px 20px var(--dark),
    2px 1px 20px var(--dark);
}
.dark-theme .input-form{
    background-color: var(--dark) !important;
    box-shadow: inset -1px -1px 10px var(--dark), 
    inset 1px 1px 10px var(--dark);
    color: var(--white);
}
/* Color mas claro */
.dark-theme .text{ color: var(--white); }

/* Inputs y autocompletado */
.dark-theme .input-form::placeholder{ color: var(--white); }
.dark-theme .input-form:-webkit-autofill,
.dark-theme .input-form:-webkit-autofill:hover, 
.dark-theme .input-form:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px var(--dark) inset !important;
    -webkit-text-fill-color: var(--white);
    color: var(--white);
}

body{
    width: 100%;
    min-height: calc(90dvh + 48px);
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form h2{ color: var(--blue-2); }
form .field-form{
    width: 100%;
    display: flex;
    align-items: center;
}
form .field-form svg{
    width: 24px;
    height: 24px;
    margin-right: 8px;
    fill: var(--blue-2);
}
form .input-form{
    width: 100%;
}
form .forgot{
    display: flex;
    align-items: center;
    flex-direction: column;
}
form .forgot span{
    color: var(--blue-2);
}
form .forgot span:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media(min-width : 300px) and (max-width : 400px){
    form{ width: 80%; }
}
@media(min-width : 401px) and (max-width : 500px){
    form{ width: 80%; }
}
@media(min-width : 501px) and (max-width : 600px){
    form{ width: 75%; }
}