<body [ngClass]="darkTheme() ? 'dark-theme' : ''">
    <section class="container">
        
        <h2 class="mb-24">Grupo 2R11</h2>
        <span class="text mb-24"> Información correspondiente al grupo 2R11 </span>

        <div class="students">
            <table>
                <thead>
                    <tr>
                        <th rowspan="2" class="text-alt small col-1">No</th>
                        <th rowspan="2" class="text-alt large col-3">Nombre</th>
                        <th colspan="4" class="text-alt small col-4">Unidad 1</th>
                        <th colspan="4" class="text-alt small col-5">Unidad 2</th>
                        <th colspan="4" class="text-alt small col-6">Unidad 3</th>
                        <th rowspan="2" class="text-alt small col-7">Prom</th>
                    </tr>
                    <tr>
                        <th class="text-alt">A1</th>
                        <th class="text-alt">A2</th>
                        <th class="text-alt">A3</th>
                        <th class="text-alt">Prom</th>
                        <th class="text-alt">A1</th>
                        <th class="text-alt">A2</th>
                        <th class="text-alt">A3</th>
                        <th class="text-alt">Prom</th>
                        <th class="text-alt">A1</th>
                        <th class="text-alt">A2</th>
                        <th class="text-alt">A3</th>
                        <th class="text-alt">Prom</th>
                    </tr>
                </thead>
        
                <tbody>
                    @for (item of [].constructor(30); track $index){
                        <tr>
                            <td class="small text">{{ 1 + $index}}</td>
                            <td class="text">AGUILAR CARDENAS LUIS KEVIN</td>
                            <td class="small text">50</td>
                            <td class="small text">60</td>
                            <td class="small text">70</td>
                            <td class="small text">70</td>
                            <td class="small text">80</td>
                            <td class="small text">50</td>
                            <td class="small text">60</td>
                            <td class="small text">70</td>
                            <td class="small text">70</td>
                            <td class="small text">80</td>
                            <td class="small text">80</td>
                            <td class="small text">70</td>
                            <td class="small text">100</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </section>
</body>