.dark-theme section{
    box-shadow:
    -2px -1px 20px var(--dark),
    2px 1px 20px var(--dark);
}
.dark-theme{ color: var(--white); font-weight: 300;}
.dark-theme nav .search svg{ background-color: var(--dark); }
.dark-theme table{ border: 1px solid var(--dark); }
.dark-theme thead tr:nth-child(1) th{ border: 1px solid var(--dark); }
.dark-theme thead tr:nth-child(2) th{ border: 1px solid var(--dark); }

body{
    width: 100%;
    min-height: 90dvh;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    width: 100%;
    min-height: 90dvh;
}
h2{ color: var(--blue-2); }
span{ width: 100%; display: inline-flex; }

.students{
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #aeaec040;
}
thead{
    background-color: var(--blue-2);
    color: var(--white);
}
thead th{
    font-weight: 300;
    padding: 4px 8px;
}
thead tr:nth-child(1) th{
    border: 1px solid var(--white);
}
thead tr:nth-child(2) th{
    border: 1px solid var(--white);
    border-radius: 0;
}
thead th:nth-child(1){ border-radius: 8px 0 0 0; }
thead th:nth-last-child(1){ border-radius: 0 8px 0 0; }
tbody tr:nth-child(even){ background-color: #aeaec040; }
tbody td{ padding: 4px 8px; }
.small{
    width: 100px;
    max-width: 100px;
}
.medium{
    width: 250px;
    max-width: 250px;
}
.large{
    width: 400px;
    max-width: 400px;
}