<body [ngClass]="darkTheme() ? 'dark-theme' : '' ">
    <section class="container">
        <h2 class="mb-24">Estadisticas</h2>

        <span class="text mb-24">
            Información general sobre el aprovechamiento escolar de los alumnos 
            del grupo 2R11
        </span>

        <nav class="actions">
            <button class="btn-primary"> Descargar datos </button>
        </nav>

        <article>
            <div class="card">
                <span class="text mb-12">Alumnos</span>
                <p class="text">38</p>
            </div>
            <div class="card">
                <span class="text mb-12">Aprobados</span>
                <p class="text">79% (30)</p>
            </div>
            <div class="card">
                <span class="text mb-12">Reprobados</span>
                <p class="text">15.8% (6)</p>
            </div>
            <div class="card">
                <span class="text mb-12">Desertores</span>
                <p class="text"> 5.2% (2)</p>
            </div>
            <div class="card">
                <span class="text mb-12">Promedio</span>
                <p class="text">82</p>
            </div>
            <div class="card">
                <span class="text mb-12">Mejor nota</span>
                <p class="text">95</p>
            </div>
            <div class="card">
                <span class="text mb-12">Nota mas baja</span>
                <p class="text">33</p>
            </div>
            <div class="card">
                <span class="text mb-12">Sin calificacion</span>
                <p class="text"> 3 </p>
            </div>
        </article>

        <span class="text mb-24">Resumen general de las unidades impartidas</span>

        <table class="mb-24">
            <thead>
                <th scope="row" class="text-alt small col-1">Unidad</th>
                <th class="text-alt small col-6">Aprob.</th>
                <th class="text-alt small col-7">Reprob.</th>
                <th class="text-alt small col-8">Deser.</th>
            </thead>
    
            <tbody>
                <tr>
                    <th class="text-alt small col-1">1</th>
                    <td class="text-alt small col-6">90%</td>
                    <td class="text-alt small col-7">8%</td>
                    <td class="text-alt small col-8">2%</td>
                </tr>
                <tr>
                    <th class="text-alt small col-1">2</th>
                    <td class="text-alt small col-6">90%</td>
                    <td class="text-alt small col-7">8%</td>
                    <td class="text-alt small col-8">2%</td>
                </tr>
                <tr>
                    <th class="text-alt small col-1">3</th>
                    <td class="text-alt small col-6">90%</td>
                    <td class="text-alt small col-7">8%</td>
                    <td class="text-alt small col-8">2%</td>
                </tr>
            </tbody>
        </table>

    </section>
</body>