@media(min-width : 301px) and (max-width : 450px){
    section > span{ text-align: justify; }
    h2{ text-align: center; }
    .small{
        width: 50px;
        max-width: 50px;
    }
    article{ 
        grid-template-columns: repeat(2, 1fr); 
        grid-row-gap: 24px;
    }
}
@media(min-width : 451px) and (max-width : 600px){
    section > span{ text-align: justify; }
    .small{
        width: 50px;
        max-width: 50px;
    }
    article{ 
        grid-template-columns: repeat(2, 1fr); 
        grid-row-gap: 24px;
    }
}
@media(min-width : 601px) and (max-width : 800px){
    section > span{ text-align: justify; }
    article{ 
        grid-template-columns: repeat(3, 1fr); 
        grid-row-gap: 24px;
    }
}
@media(min-width : 800px) and (max-width : 1000px){
    article{ 
        grid-template-columns: repeat(4, 1fr); 
        grid-row-gap: 24px;
    }
}
@media(min-width : 1001px) and (max-width : 1200px){
    article{ 
        grid-template-columns: repeat(5, 1fr); 
        grid-row-gap: 24px;
    }
}
@media(min-width : 1201px) and (max-width : 1600px){
    article{ 
        grid-template-columns: repeat(6, 1fr); 
        grid-row-gap: 24px;
    }
}