.dark-theme .card, .dark-theme section{
    box-shadow:
    -2px -1px 20px var(--dark),
    2px 1px 20px var(--dark);
}
.dark-theme span, .dark-theme .card span, .dark-theme table{ color: var(--white); font-weight: 300; }
.dark-theme table, .dark-theme th{ border: 1px solid var(--dark); }

body{
    width: 100%;
    min-height: 90dvh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
}
section{
    width: 100%;
    min-height: calc(80dvh);
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2{ color: var(--blue-2); width: 100%; text-align: left; }
section > span{ width: 100%; display: inline-flex;}

.actions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

article{
    width: 100%;
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    place-content: center;
    place-items: center;
    margin: 24px 0;
}
article{ grid-template-columns: repeat(8, 1fr); }
article .card{  width: 100%; }
article .card p{ font-weight: bold; color: var(--blue-2); }

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #aeaec040;
}
th{
    background-color: var(--blue-2);
    color: var(--white);
    font-weight: 300;
    padding: 4px 8px;
    border: 1px solid var(--white);
}
thead th:nth-child(1){ border-radius: 8px 0 0 0; }
thead th:nth-last-child(1){ border-radius: 0 8px 0 0; }
tbody tr:nth-child(even){ background-color: #aeaec040; }
tbody td{ padding: 4px 8px; }
.small{
    width: 100px;
    max-width: 100px;
}