.dark-theme{
    background-color: var(--black);
    box-shadow:
    -2px -1px 20px var(--dark),
    2px 1px 20px var(--dark);
}
.dark-theme p{
    color: var(--white);
}

body{
    max-width: 180px;
    width: auto;
    background-color: var(--white);
    box-shadow:
    -5px -5px 15px #aeaec040,
    5px 5px 15px #aeaec040;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
article p{
    padding-top: 12px;
    text-align: center;
}
article svg{
    width: 48px;
    height: 48px;
    fill: var(--blue-2);
    animation: tada;
    animation-duration: 1s;
}