@media(min-width : 301px) and (max-width : 450px){
    table{
        max-width: 100%;
    }
    h2{text-align: center;}
    span{ width: 100%; }
    nav{
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: end;
        flex-direction: column;
    }
    nav .search{ width: 100%; margin-right: 0;}
    nav .search .input-search{ width: 100%; }
    .medium, .large{ display: none; }
}
@media(min-width : 451px) and (max-width : 600px){
    table{ max-width: 100%; }
    span{ width: 100%; }
    .large{ display: none; }
    nav .search .input-search{ width: 200px; }
}
@media(min-width : 601px) and (max-width : 800px){
    table{ max-width: 100%; }
    span{ width: 100%; }
    nav .search .input-search{ width: 250px; }
    .col-4{ display: none; }
}