.dark-theme section{
    box-shadow:
    -2px -1px 20px var(--dark),
    2px 1px 20px var(--dark);
}
.dark-theme{ color: var(--white); font-weight: 300;}
.dark-theme nav .search svg{ background-color: var(--dark); }
.dark-theme table, .dark-theme thead th{ border: 1px solid var(--dark); }

.dark-theme .input-search, .dark-theme .select-filter{
    background-color: var(--dark) !important;
    box-shadow: inset -1px -1px 10px var(--dark), 
    inset 1px 1px 10px var(--dark);
    color: var(--white);
}
.dark-theme .input-search::placeholder{ color: var(--white); }
.dark-theme .input-search:-webkit-autofill,
.dark-theme .input-search:-webkit-autofill:hover, 
.dark-theme .input-search:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px var(--dark) inset !important;
    -webkit-text-fill-color: var(--white);
    color: var(--white);
}

body{
    width: 100%;
    min-height: 90dvh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
}
section{
    width: 100%;
    min-height: calc(80dvh);
    height: auto;
}
h2{ color: var(--blue-2); }
span{ width: 100%; display: inline-flex;}
/* Buscador y boton agregar */
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
nav .search{
    display: flex;
    align-items: center;
    position: relative;
}
nav .search .input-search{ width: 300px; }
nav .search svg{
    width: 16px;
    height: 16px;
    fill: var(--blue-2);
    position: absolute;
    right: 8px;
    background-color: var(--white);
}
table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #aeaec040;
}
thead{
    background-color: var(--blue-2);
    color: var(--white);
}
thead th{
    font-weight: 300;
    padding: 4px 8px;
    border: 1px solid var(--white);
}
thead th:nth-child(1){ border-radius: 8px 0 0 0; }
thead th:nth-last-child(1){ border-radius: 0 8px 0 0; }
tbody tr:nth-child(even){ background-color: #aeaec040; }
tbody td{ padding: 4px 8px; }
.small{
    width: 100px;
    max-width: 100px;
}
.medium{
    width: 250px;
    max-width: 250px;
}
.large{
    width: 400px;
    max-width: 400px;
}