<body [ngClass]="darkTheme() ? 'dark-theme' : '' ">
    <section class="container">

        <h2 class="mb-24">Historial de grupos</h2>

        <span class="text mb-24"> Relación de grupos impartidos en periodos anteriores </span>

        <nav class="mb-24">
            <div class="search">
                <input type="text" class="input-search" placeholder="Buscar grupo">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="m21.407 19.753-4.41-4.41a8.148 8.148 0 0 0 1.633-4.903c0-4.516-3.674-8.19-8.19-8.19s-8.19 3.674-8.19 8.19 3.674 8.19 8.19 8.19a8.148 8.148 0 0 0 4.902-1.633l4.41 4.41a1.171 1.171 0 0 0 1.655-1.654ZM4.59 10.44a5.85 5.85 0 1 1 5.85 5.85 5.857 5.857 0 0 1-5.85-5.85Z"></path>
                 </svg>
            </div>
        </nav>

        <table>
            <thead>
                <th class="text-alt small col-1">Grupo</th>
                <th class="text-alt large col-3">Materia</th>
                <th class="text-alt large col-4">Docente</th>
                <th class="text-alt medium col-5">Periodo</th>
                <th class="text-alt small col-6">Aprob.</th>
                <th class="text-alt small col-7">Reprob.</th>
                <th class="text-alt small col-8">Deser.</th>
            </thead>
    
            <tbody>
                <tr>
                    <td class="text-alt small col-1">2R11</td>
                    <td class="text-alt large col-3">Fundamentos de programacion</td>
                    <td class="text-alt large col-4">Leonor Angeles Hernandez</td>
                    <td class="text-alt medium col-5">Enero - Junio 2024</td>
                    <td class="text-alt small col-6">90%</td>
                    <td class="text-alt small col-7">8%</td>
                    <td class="text-alt small col-8">2%</td>
                </tr>
                <tr>
                    <td class="text-alt small col-1">2R11</td>
                    <td class="text-alt large col-3">Fundamentos de programacion</td>
                    <td class="text-alt large col-4">Leonor Angeles Hernandez</td>
                    <td class="text-alt medium col-5">Enero - Junio 2024</td>
                    <td class="text-alt small col-6">90%</td>
                    <td class="text-alt small col-7">8%</td>
                    <td class="text-alt small col-8">2%</td>
                </tr>
                <tr>
                    <td class="text-alt small col-1">2R11</td>
                    <td class="text-alt large col-3">Fundamentos de programacion</td>
                    <td class="text-alt large col-4">Leonor Angeles Hernandez</td>
                    <td class="text-alt medium col-5">Agosto - Diciembre 2024</td>
                    <td class="text-alt small col-6">90%</td>
                    <td class="text-alt small col-7">8%</td>
                    <td class="text-alt small col-8">2%</td>
                </tr>
                <tr>
                    <td class="text-alt small col-1">2R11</td>
                    <td class="text-alt large col-3">Fundamentos de programacion</td>
                    <td class="text-alt large col-4">Leonor Angeles Hernandez</td>
                    <td class="text-alt medium col-5">Agosto - Diciembre 2024</td>
                    <td class="text-alt small col-6">90%</td>
                    <td class="text-alt small col-7">8%</td>
                    <td class="text-alt small col-8">2%</td>
                </tr>
            </tbody>
        </table>

    </section>
</body>