<body [ngClass]="darkTheme() ? 'dark-theme' : '' ">
    <section class="container">
        <h2 class="mb-24">Reticula </h2>

        <span class="text mb-24"> 
            Materias registradas de la reticula de ingenieria en sistemas computacionales,
            solo las materias que aparezcan en esta sección estarán disponibles al momento 
            de que los docentes registren un nuevo grupo, por lo cual es importante subir 
            todas las materias de la reticula de la carrera.
        </span>

        <nav class="mb-24">
            <button class="btn-primary" (click)="importData()"> Importar datos </button>
        </nav>

        <div class="reticula">
            <table>
                <thead>
                    <th class="text-alt small col-1">Semestre 1</th>
                    <th class="text-alt small col-1">Semestre 2</th>
                    <th class="text-alt small col-1">Semestre 3</th>
                    <th class="text-alt small col-1">Semestre 4</th>
                    <th class="text-alt small col-1">Semestre 5</th>
                    <th class="text-alt small col-1">Semestre 6</th>
                    <th class="text-alt small col-1">Semestre 7</th>
                    <th class="text-alt small col-1">Semestre 8</th>
                    <th class="text-alt small col-1">Semestre 9</th>
                </thead>
        
                <tbody>
                    @for (item of [].constructor(9); track $index){
                        <tr>
                            <td class="text-alt small col-1">{{$index+1}}R11 <br> Calculo integral</td>
                            <td class="text-alt small col-1">{{$index+1}}R11 <br> Calculo integral</td>
                            <td class="text-alt small col-1">{{$index+1}}R11 <br> Calculo integral</td>
                            <td class="text-alt small col-1">{{$index+1}}R11 <br> Calculo integral</td>
                            <td class="text-alt small col-1">{{$index+1}}R11 <br> Calculo integral</td>
                            <td class="text-alt small col-1">{{$index+1}}R11 <br> Calculo integral</td>
                            <td class="text-alt small col-1">{{$index+1}}R11 <br> Calculo integral</td>
                            <td class="text-alt small col-1">{{$index+1}}R11 <br> Calculo integral</td>
                            <td class="text-alt small col-1">{{$index+1}}R11 <br> Calculo integral</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </section>
</body>