.dark-theme section{
    box-shadow:
    -2px -1px 20px var(--dark),
    2px 1px 20px var(--dark);
}
.dark-theme{ color: var(--white); font-weight: 300;}

body{
    width: 100%;
    min-height: 90dvh;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    width: 100%;
    min-height: 90dvh;
    padding: 24px 24px 12px 24px;
}
h2{ color: var(--blue-2); }
span{ width: 100%; display: inline-flex; line-height: 1.5; }

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

/* Cards de grupos */
.reticula{
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

table{
    width: 100%;
    text-align: center;
    border: 1px solid #aeaec040;
    margin-bottom: 12px;
    border-collapse: collapse;
}
thead{
    background-color: var(--blue-2);
    color: var(--white);
}
thead th{
    font-weight: 300;
    padding: 4px 8px;
    border: 1px solid var(--white);
}
thead th:nth-child(1){ border-radius: 8px 0 0 0; }
thead th:nth-last-child(1){ border-radius: 0 8px 0 0; }
tbody td:nth-child(even){ background-color: #aeaec040; }
tbody tr{ border-bottom: 1px solid #aeaec040; }
tbody td{ padding: 4px 8px; text-align: center; height: 80px;}
.small{
    width: 100px;
    max-width: 100px;
}
.medium{
    width: 250px;
    max-width: 250px;
}
.large{
    width: 400px;
    max-width: 400px;
}