<body [ngClass]="darkTheme() ? 'dark-theme' : '' ">
    <section class="container">
        <h2 class="mb-24">Lista de docentes </h2>

        <span class="text mb-24"> Personal docente registrado en el sistema</span>

        <nav class="mb-24">
            <button class="btn-primary" (click)="importTeachers()"> Importar datos </button>
            <button class="btn-primary" (click)="addTeacher()"> Registrar docente </button>
        </nav>

        <table>
            <thead>
                <th class="text-alt small col-1">No</th>
                <th class="text-alt large col-2">Docente</th>
                <th class="text-alt large col-2">Correo</th>
                <th class="text-alt small col-3">Registro</th>
            </thead>
    
            <tbody>
                @for (item of [].constructor(15); track $index){
                    <tr>
                        <td class="text-alt small col-1">1</td>
                        <td class="text-alt large col-2">Leonor Angeles Hernandez</td>
                        <td class="text-alt large col-3">leonor.angeles&#64;cuautla.tecnm.mx</td>
                        <td class="text-alt medium col-4">28-02-2024</td>
                    </tr>
                }
            </tbody>
        </table>

    </section>
</body>