<body [ngClass]="darkTheme() ? 'dark-theme' : '' ">
    <form class="container">
        <h2 class="mb-24">Registrar docente</h2>

        <span class="text mb-24">
            Ingresa la información del usuario para registrarlo en el sistema
        </span>

        <div class="field-form mb-24">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.592 3.027C14.68 2.042 13.406 1.5 12 1.5c-1.414 0-2.692.54-3.6 1.518-.918.99-1.365 2.334-1.26 3.786C7.348 9.67 9.528 12 12 12c2.472 0 4.648-2.33 4.86-5.195.106-1.439-.344-2.78-1.268-3.778Z"></path>
                <path d="M20.25 22.5H3.75a1.454 1.454 0 0 1-1.134-.522 1.655 1.655 0 0 1-.337-1.364c.396-2.195 1.63-4.038 3.571-5.333C7.574 14.132 9.758 13.5 12 13.5c2.242 0 4.426.633 6.15 1.781 1.94 1.294 3.176 3.138 3.571 5.332.091.503-.032 1-.336 1.365a1.453 1.453 0 0 1-1.135.522Z"></path>
            </svg>
            <span class="text"> Nombre: </span>
        </div>

        <input type="text" class="input-form mb-24" formControlName="Correo">

        <div class="field-form mb-24">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.875 3.75H4.125A2.628 2.628 0 0 0 1.5 6.375v11.25a2.628 2.628 0 0 0 2.625 2.625h15.75a2.627 2.627 0 0 0 2.625-2.625V6.375a2.627 2.627 0 0 0-2.625-2.625Zm-.665 4.342-6.75 5.25a.75.75 0 0 1-.92 0l-6.75-5.25a.75.75 0 1 1 .92-1.184L12 11.8l6.29-4.892a.75.75 0 0 1 .92 1.184Z"></path>
            </svg>
            <span class="text"> Correo: </span>
        </div>

        <input type="text" class="input-form mb-24" formControlName="Correo">

        <div class="btn-actions">
            <button class="btn-secondary"> Cancelar </button>
            <button class="btn-primary"> Registrar </button>
        </div>
        
    </form>
</body>