.dark-theme{
    background-color: var(--black);
    color: var(--white);
}
.dark-theme section{
    box-shadow:
    -2px -1px 20px var(--dark),
    2px 1px 20px var(--dark);
}
.dark-theme nav .search svg{ background-color: var(--dark); }
.dark-theme .input-search{
    background-color: var(--dark) !important;
    box-shadow: inset -1px -1px 10px var(--dark), 
    inset 1px 1px 10px var(--dark);
    color: var(--white);
}
.dark-theme .input-search::placeholder{ color: var(--white); }
.dark-theme .input-search:-webkit-autofill,
.dark-theme .input-search:-webkit-autofill:hover, 
.dark-theme .input-search:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px var(--dark) inset !important;
    -webkit-text-fill-color: var(--white);
    color: var(--white);
}

body{
    width: 100%;
    min-height: 90dvh;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    width: 100%;
    min-height: 90dvh;
}
h2{ color: var(--blue-2); }
span{ width: 100%; display: inline-flex;}
/* Buscador y boton agregar */
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
nav .search{
    display: flex;
    align-items: center;
    margin-right: 8px;
    position: relative;
}
nav .search .input-search{ width: 300px; }
nav .search svg{
    width: 16px;
    height: 16px;
    fill: var(--blue-2);
    position: absolute;
    right: 8px;
    background-color: var(--white);
}

/* Cards de grupos */
article{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

@media(min-width : 301px) and (max-width : 450px){
    article{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    h2{text-align: center;}
    span{ width: 100%; }
    nav{
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: end;
        flex-direction: column;
    }
    nav .search{ margin-bottom: 24px; width: 100%; margin-right: 0;}
    nav .search .input-search{ width: 100%; }
}
@media(min-width : 451px) and (max-width : 600px){
    article{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    h2{text-align: center;}
    span{ width: 100%; }
    nav .search .input-search{ width: 200px }
}
@media(min-width : 601px) and (max-width : 800px){
    article{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}