<body [ngClass]="darkTheme() ? 'dark-theme' : '' ">
    <section class="container">
        <h2 class="mb-24">Mis grupos</h2>

        <span class="text mb-24"> Grupos registrados del periodo Enero - Junio 2024 </span>

        <nav class="mb-24">
            <div class="search">
                <input type="text" class="input-search" placeholder="Buscar grupo">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="m21.407 19.753-4.41-4.41a8.148 8.148 0 0 0 1.633-4.903c0-4.516-3.674-8.19-8.19-8.19s-8.19 3.674-8.19 8.19 3.674 8.19 8.19 8.19a8.148 8.148 0 0 0 4.902-1.633l4.41 4.41a1.171 1.171 0 0 0 1.655-1.654ZM4.59 10.44a5.85 5.85 0 1 1 5.85 5.85 5.857 5.857 0 0 1-5.85-5.85Z"></path>
                 </svg>
            </div>

            <button class="btn-primary" (click)="addGroup()"> Nuevo grupo </button>
        </nav>

        <article>
            <app-card-group></app-card-group>
            <app-card-group></app-card-group>
            <app-card-group></app-card-group>
            <app-card-group></app-card-group>
            <app-card-group></app-card-group>
        </article>

    </section>
</body>