.dark-theme{ background-color: var(--black); }
.dark-theme main{ background-color: var(--black); }

body{
    min-width: 99%;
    width: 100%;
    max-width: 100%;
    min-height: 100dvh;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
header{
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 100;
}
main{
    margin-top: 64px;
    min-height: auto;
    height: auto;
    width: 100%;
    background-color: var(--white);
}
footer{ width: 100%; }