footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--blue);
    padding: 12px;
}
img{
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-right: 8px;
}
span{ color: var(--white); font-weight: 300; }