.dark-theme form{
    background-color: var(--black);
    box-shadow:
    -2px -1px 20px var(--dark),
    2px 1px 20px var(--dark);
    color: var(--white);
}
.dark-theme .input-form{
    background-color: var(--dark) !important;
    box-shadow: inset -1px -1px 10px var(--dark), 
    inset 1px 1px 10px var(--dark);
}
.dark-theme, .dark-theme .file-name{ color: var(--white); }
.dark-theme input[type="file"]::file-selector-button{
    background-color: var(--black);
    color: var(--white);
}

body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form h2{ color: var(--blue-2); }
form .field-form{
    width: 100%;
    display: flex;
    align-items: center;
}
form .field-form svg{
    width: 24px;
    height: 24px;
    margin-right: 8px;
    fill: var(--blue-2);
}
form .input-form{
    width: 100%;
}
.btn-actions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* file upload list */
input[type="file"]{
    padding: 0;
    background-color: transparent;
}
input[type="file"]::file-selector-button {
    width: 100%;
    cursor: pointer;
    position: relative;
    color: var(--black);
    padding: 0;
    height: 35px;
    border: 1px solid var(--blue-2);
    border-radius: 4px;
    background-color: transparent;
}

.files{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.file-name {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    border: 1px solid var(--orange);
    padding: 4px 8px;
    border-radius: 4px;
}