<body [ngClass]="darkTheme() ? 'dark-theme' : '' ">
    <form class="container">
        <h2 class="mb-24">Importar datos</h2>

        <span class="text mb-24">
            Sube el archivo (.xlsx) excel para importar la información correspondiente
        </span>

        <div class="field-form mb-24">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.125 11.25a.375.375 0 0 1-.375-.375V2.25h-2.684a3.066 3.066 0 0 0-.304-.46C9.222 1.12 8.418.75 7.5.75c-1.766 0-3 1.388-3 3.375v6.75c0 1.172.953 1.875 1.875 1.875a1.856 1.856 0 0 0 1.875-1.875V3.75h-1.5v7.125a.363.363 0 0 1-.375.375c-.105 0-.375-.068-.375-.375v-6.75c0-.907.394-1.875 1.5-1.875C8.892 2.25 9 3.663 9 4.096V10.6c0 .818-.256 1.558-.722 2.084-.473.535-1.131.816-1.903.816s-1.43-.281-1.903-.816c-.466-.526-.722-1.266-.722-2.084V6.75h-1.5v3.85c0 2.414 1.556 4.201 3.75 4.384v6.954a.562.562 0 0 0 .563.562h14.625a.562.562 0 0 0 .562-.563V11.25h-8.625Z"></path>
                <path d="M14.438 9.749h6.858a.094.094 0 0 0 .092-.112.094.094 0 0 0-.026-.048L14.41 2.637a.093.093 0 0 0-.16.066v6.858a.188.188 0 0 0 .188.188Z"></path>
            </svg>
            <p class="text">Archivo (excel): </p>
        </div>
        <input type="file" id="files" accept=".xlsx, .xls" multiple="false" (change)="onFileChange($event)" class="input-form mb-24">

        <div class="files mb-24" *ngIf="files.length > 0">
          <span class="file-name text-alt">{{ files[0].name }}</span>
        </div>

        <div class="btn-actions">
            <button class="btn-secondary"> Cancelar </button>
            <button class="btn-primary"> Registrar </button>
        </div>
        
    </form>
</body>