<header>
    <img src="../../../../assets/itc.png" alt="itc-logo">

    @if(isAuth()){
        <nav>
            @if(isTeacher()){
                <li routerLink="/docentes/ver-grupos" routerLinkActive="menu-active">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.253a.75.75 0 0 1-.372-.099l-6.566-3.752a.375.375 0 0 0-.562.325v3.526a.75.75 0 0 0 .386.656l6.75 3.75a.75.75 0 0 0 .728 0l6.75-3.75a.75.75 0 0 0 .386-.656v-3.526a.376.376 0 0 0-.563-.325l-6.565 3.752a.751.751 0 0 1-.372.1Z"></path>
                        <path d="M23.247 8.93v-.006a.75.75 0 0 0-.375-.575l-10.5-6a.75.75 0 0 0-.744 0l-10.5 6a.75.75 0 0 0 0 1.302l10.5 6a.75.75 0 0 0 .744 0l9.238-5.278a.094.094 0 0 1 .14.081v6.775c0 .403.311.75.715.77a.75.75 0 0 0 .786-.75V9a.688.688 0 0 0-.004-.07Z"></path>
                    </svg>
                    <a class="text-alt"> Grupos </a>
                </li>
                <li routerLink="/docentes/estadisticas" routerLinkActive="menu-active">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.875 23.25h-1.5a1.125 1.125 0 0 1-1.125-1.125v-6.75a1.125 1.125 0 0 1 1.125-1.125h1.5A1.125 1.125 0 0 1 6 15.375v6.75a1.125 1.125 0 0 1-1.125 1.125Z"></path>
                        <path d="M15.375 23.25h-1.5a1.125 1.125 0 0 1-1.125-1.125v-11.25a1.125 1.125 0 0 1 1.125-1.125h1.5a1.125 1.125 0 0 1 1.125 1.125v11.25a1.125 1.125 0 0 1-1.125 1.125Z"></path>
                        <path d="M20.625 23.25h-1.5A1.125 1.125 0 0 1 18 22.125v-16.5A1.125 1.125 0 0 1 19.125 4.5h1.5a1.125 1.125 0 0 1 1.125 1.125v16.5a1.125 1.125 0 0 1-1.125 1.125Z"></path>
                        <path d="M10.125 23.25h-1.5A1.125 1.125 0 0 1 7.5 22.125V1.875A1.125 1.125 0 0 1 8.625.75h1.5a1.125 1.125 0 0 1 1.125 1.125v20.25a1.125 1.125 0 0 1-1.125 1.125Z"></path>
                    </svg>
                    <a class="text-alt"> Estadisticas</a>
                </li>
                <li routerLink="/docentes/historial-grupos" routerLinkActive="menu-active">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.48 3.469C7.786 2.66 5.42 2.264 2.25 2.25a1.47 1.47 0 0 0-1.325.79 1.5 1.5 0 0 0-.175.705v13.411c0 .907.645 1.59 1.5 1.59 3.331 0 6.673.312 8.675 2.204a.193.193 0 0 0 .325-.14V5.006a.744.744 0 0 0-.256-.562 6.704 6.704 0 0 0-1.514-.976Z"></path>
                        <path d="M22.59 2.499a1.469 1.469 0 0 0-.84-.249c-3.17.014-5.536.408-7.23 1.219a6.716 6.716 0 0 0-1.514.974.747.747 0 0 0-.256.562v15.803a.185.185 0 0 0 .113.17.185.185 0 0 0 .2-.038c1.203-1.195 3.315-2.195 8.689-2.194a1.5 1.5 0 0 0 1.5-1.5v-13.5a1.5 1.5 0 0 0-.662-1.247Z"></path>
                    </svg>
                    <a class="text-alt"> Historial</a>
                </li>
            }@else if(isAdmin()){
                <li routerLink="/administrador/lista-docentes" routerLinkActive="menu-active">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.75 12c-.964 0-1.896-.43-2.625-1.211a4.683 4.683 0 0 1-1.219-2.86c-.082-1.154.27-2.215.991-2.988.72-.774 1.728-1.191 2.853-1.191 1.117 0 2.127.425 2.845 1.196.725.78 1.078 1.839.997 2.983-.079 1.083-.511 2.098-1.219 2.86-.728.78-1.659 1.211-2.623 1.211Z"></path>
                        <path d="M21.93 20.25H9.572a1.299 1.299 0 0 1-1.032-.5 1.416 1.416 0 0 1-.246-1.21c.395-1.584 1.372-2.898 2.827-3.8 1.292-.8 2.936-1.24 4.63-1.24 1.727 0 3.328.422 4.627 1.221 1.458.897 2.437 2.219 2.83 3.823a1.418 1.418 0 0 1-.25 1.208 1.298 1.298 0 0 1-1.028.498Z"></path>
                        <path d="M6.89 12.188c-1.65 0-3.1-1.534-3.234-3.42-.067-.965.234-1.858.843-2.513.603-.648 1.453-1.005 2.39-1.005.938 0 1.782.36 2.388 1.011.614.66.914 1.551.844 2.509-.135 1.884-1.584 3.418-3.231 3.418Z"></path>
                        <path d="M9.968 13.66c-.824-.404-1.894-.605-3.077-.605-1.38 0-2.722.36-3.777 1.013-1.195.742-2 1.823-2.325 3.127a1.284 1.284 0 0 0 .225 1.095 1.187 1.187 0 0 0 .942.458h5.203a.375.375 0 0 0 .369-.308.806.806 0 0 1 .019-.088c.397-1.597 1.329-2.946 2.705-3.93a.375.375 0 0 0-.03-.627 3.81 3.81 0 0 0-.254-.136Z"></path>
                    </svg>
                    <a class="text-alt"> Docentes </a>
                </li>
                <li routerLink="/administrador/materias" routerLinkActive="menu-active">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.125 4.5h-7.307a1.12 1.12 0 0 1-.624-.187L9.89 3.44A2.614 2.614 0 0 0 8.432 3H4.875A2.628 2.628 0 0 0 2.25 5.625V6.75h19.5c0-1.447-1.177-2.25-2.625-2.25Z"></path>
                        <path d="M19.864 21H4.137a2.625 2.625 0 0 1-2.621-2.585l-.757-7.722v-.013a2.25 2.25 0 0 1 2.242-2.43h18.004a2.25 2.25 0 0 1 2.241 2.43v.013l-.76 7.722A2.625 2.625 0 0 1 19.864 21Z"></path>
                    </svg>
                    <a class="text-alt"> Materias </a>
                </li>
                <li routerLink="/administrador/registrar-cuenta" routerLinkActive="menu-active">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.5 12c2.475 0 4.662-2.33 4.876-5.195.106-1.439-.345-2.78-1.271-3.778C16.188 2.042 14.907 1.5 13.5 1.5c-1.418 0-2.7.54-3.61 1.518-.92.99-1.368 2.334-1.265 3.786C8.836 9.67 11.022 12 13.5 12Z"></path>
                        <path d="M23.221 20.614c-.396-2.195-1.63-4.038-3.571-5.332-1.724-1.15-3.908-1.782-6.15-1.782-2.242 0-4.426.633-6.15 1.781-1.94 1.294-3.175 3.138-3.57 5.332-.091.503.031 1 .336 1.365a1.451 1.451 0 0 0 1.134.522h16.5a1.451 1.451 0 0 0 1.135-.522 1.66 1.66 0 0 0 .336-1.364Z"></path>
                        <path d="M4.875 13.5v-1.875H6.75a.75.75 0 1 0 0-1.5H4.875V8.25a.75.75 0 0 0-1.5 0v1.875H1.5a.75.75 0 1 0 0 1.5h1.875V13.5a.75.75 0 1 0 1.5 0Z"></path>
                    </svg>
                    <a class="text-alt"> Registro</a>
                </li>
            }
            <li (click)="toggleTheme()">
                @if(darkTheme()){
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 5.531A1.031 1.031 0 0 1 10.969 4.5V2.25a1.031 1.031 0 1 1 2.062 0V4.5A1.031 1.031 0 0 1 12 5.531Z"></path>
                        <path d="M12 22.781a1.031 1.031 0 0 1-1.031-1.031V19.5a1.031 1.031 0 1 1 2.062 0v2.25A1.031 1.031 0 0 1 12 22.781Z"></path>
                        <path d="M17.303 7.73a1.032 1.032 0 0 1-.73-1.76l1.591-1.592a1.031 1.031 0 0 1 1.458 1.459l-1.59 1.59a1.027 1.027 0 0 1-.73.303Z"></path>
                        <path d="M5.105 19.929a1.03 1.03 0 0 1-.729-1.76l1.591-1.592a1.031 1.031 0 1 1 1.459 1.459l-1.591 1.59a1.03 1.03 0 0 1-.73.303Z"></path>
                        <path d="M21.75 13.031H19.5a1.031 1.031 0 1 1 0-2.062h2.25a1.031 1.031 0 1 1 0 2.062Z"></path>
                        <path d="M4.5 13.031H2.25a1.031 1.031 0 1 1 0-2.062H4.5a1.031 1.031 0 1 1 0 2.062Z"></path>
                        <path d="M18.894 19.925a1.027 1.027 0 0 1-.73-.302l-1.59-1.591a1.03 1.03 0 0 1 1.458-1.458l1.591 1.59a1.031 1.031 0 0 1-.729 1.761Z"></path>
                        <path d="M6.696 7.73a1.026 1.026 0 0 1-.729-.302l-1.59-1.591a1.031 1.031 0 0 1 1.458-1.459l1.59 1.591a1.031 1.031 0 0 1-.729 1.76Z"></path>
                        <path d="M12 16.781A4.782 4.782 0 1 1 16.781 12 4.787 4.787 0 0 1 12 16.781Z"></path>
                     </svg>
                }@else if(!darkTheme()){
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.375 22.5A10.875 10.875 0 0 1 1.5 11.625c0-4.406 2.531-8.357 6.45-10.063a.75.75 0 0 1 .988.988c-.45 1.033-.688 2.356-.688 3.825 0 5.17 4.206 9.375 9.375 9.375 1.47 0 2.792-.238 3.826-.688a.751.751 0 0 1 .987.988c-1.706 3.919-5.657 6.45-10.063 6.45Z"></path>
                    </svg>
                }
                <a class="text-alt"> Tema</a>
            </li>
            <li (click)="logOut()" routerLink="/cuenta/iniciar-sesion">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.5 12a.75.75 0 0 1 .75-.75H15V6.375c0-1.5-1.584-2.625-3-2.625H4.875A2.628 2.628 0 0 0 2.25 6.375v11.25a2.628 2.628 0 0 0 2.625 2.625h7.5A2.627 2.627 0 0 0 15 17.625V12.75H8.25A.75.75 0 0 1 7.5 12Z"></path>
                    <path d="m21.53 11.472-3.75-3.75a.75.75 0 0 0-1.06 1.06l2.47 2.47H15v1.5h4.19l-2.47 2.47a.749.749 0 0 0 .526 1.294.75.75 0 0 0 .534-.234l3.75-3.75a.75.75 0 0 0 0-1.06Z"></path>
                </svg>
                <a class="text-alt"> Salir </a>
            </li>
        </nav>
    }
</header>