header{
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 64px;
}

header img{
    padding-left: 12px;
    width: 64px;
    height: 48px;
    object-fit: contain;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 64px;
}
nav li{
    list-style: none;
    padding: 0 12px;
    color: var(--white);
    font-weight: 300;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
nav svg{
    width: 20px;
    height: 20px;
    margin-right: 6px;
    fill: var(--white);
}
nav li:hover{
    height: 60px;
    margin-top: 4px;
    cursor: pointer;
    border-bottom: 4px solid var(--white);
}
nav .menu-active{ color: var(--orange); }
nav .menu-active svg{ fill: var(--orange); }

@media(min-width : 300px) and (max-width : 500px){
    nav a{ display: none; }
    nav svg{ 
        margin-right: 0px;
    }
    nav li{ padding: 0 8px; }
    header img{ width: 48px; padding-left: 8px; }
}
@media(min-width : 501px) and (max-width : 700px){
    nav a{ display: none; }
    nav svg{ 
        margin-right: 0px
    }
    nav li{ padding: 0 8px; }
    header img{ width: 48px; padding-left: 8px; }
}