.dark-theme-card{
    box-shadow:
    -2px -1px 20px var(--dark),
    2px 1px 20px var(--dark);
}
.dark-theme-card{ color: var(--white); }
.dark-theme-card span, .dark-theme-card p{ font-weight: 300; }

.light-theme-card, .dark-theme-card{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.light-theme-card{
    box-shadow:
    -5px -5px 15px #aeaec040,
    5px 5px 15px #aeaec040;
}

span{ font-weight: bold; color: var(--blue-2);}
p, span{ font-size: 14px; }
@media(min-width : 501px) and (max-width : 600px){
    .light-theme-card, .dark-theme-card{ width: 100%;}
}