.dark-theme .text, .dark-theme p, .dark-theme span, button, .dark-theme .text-alt{font-weight: 300;}

/* Estilos globales */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --white: #fbfffeff;
    --black: #222222;
    --dark: #111111;
    --blue: #18316B;
    --blue-2: #1446a0;
    --orange: #F2BA0B;
    --red: #C03221;
}

/* Escala tipografica del texto y margin */
.text-alt{ font-size: 16px; }
.text{ font-size: 18px; }
h1 { font-size: 31px; }
h2 { font-size: 26px; }
h3 { font-size: 22px; }
.mb-24{ margin-bottom: 24px; }
.mb-12{ margin-bottom: 12px; }

/* Estilos para cards y containers */
.container{
    box-shadow:
    -5px -5px 15px #aeaec040,
    5px 5px 15px #aeaec040;
    padding: 24px;
    border-radius: 8px;
}
.card{
    box-shadow:
    -5px -5px 15px #aeaec040,
    5px 5px 15px #aeaec040;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* Estilos generales para botones */
button{
    border: none;
    outline: none;
    offset: none;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 300;
}
.btn-primary{
    background-color: var(--blue-2);
    color: var(--white);
    padding: 4px 8px;
}
.btn-secondary{
    background-color: transparent;
    color: var(--blue-2);
    border: 1px solid var(--blue-2);
    padding: 4px 8px;
    height: 29px;
}
button:hover{ cursor: pointer; transform: scale(1.05); }
button:disabled{ opacity: 0.5; cursor: not-allowed; }

/* Estilos para inputs */
input, select{
    border: none;
    outline: none;
    offset: none;
    text-align: center;
    border-radius: 4px;
}
.input-form, .select-form{
    font-size: 18px;
    padding: 4px 8px;
    box-shadow: inset -1px -1px 10px #aeaec040, 
    inset 1px 1px 10px #aeaec040;
}
.input-search{
    box-shadow: inset -1px -1px 10px #aeaec040, 
    inset 1px 1px 10px #aeaec040;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 4px;
}

@media(min-width : 300px) and (max-width : 400px){
    .text-alt, .text, .input-form, .select-form, .btn-primary, .btn-secondary, .input-search, .select-filter{ font-size: 12px; }
    .btn-primary, .btn-secondary{ height: 26px; }
    h1 { font-size: 24px; }
    h2 { font-size: 16px; }
    h3 { font-size: 14px; }
}
@media(min-width : 401px) and (max-width : 600px){
    .btn-primary, .btn-secondary, .input-search, .select-filter { font-size: 12px; }
    .text-alt, .text, .input-form, .select-form { font-size: 14px; }
    .btn-primary, .btn-secondary{ height: 26px; }
    h1 { font-size: 26px; }
    h2 { font-size: 20px; }
    h3 { font-size: 16px; }
}
@media(min-width : 601px) and (max-width : 1000px){
    .text, .input-form, .select-form { font-size: 16px; }
    .text-alt{ font-size: 14px; }
    .btn-primary, .btn-secondary, .input-search, .select-filter { font-size: 12px; }
    .btn-primary, .btn-secondary{ height: 26px; }
    h1 { font-size: 28px; }
    h2 { font-size: 22px; }
    h3 { font-size: 18px; }
}