@media(min-width : 300px) and (max-width : 400px){
    section{ width: 100%; }
    ::ng-deep .mat-step-header .mat-step-text-label{ font-size: 12px; }
    form .input-form, form .select-form{ width: 100%; }
    input[type="file"]::file-selector-button{ height: 26px; }
    :host ::ng-deep .mat-vertical-content{ padding: 0 0 0 24px  !important; }
}
@media(min-width : 401px) and (max-width : 600px){
    section{ width: 90%; }
    ::ng-deep .mat-step-header .mat-step-text-label{ font-size: 14px; }
    form .input-form, form .select-form{ width: 100%; }
    input[type="file"]::file-selector-button{ height: 30px; }
    :host ::ng-deep .mat-vertical-content{ padding: 0 0 0 24px  !important; }
}
@media(min-width : 601px) and (max-width : 800px){
    section{ width: 80%; }
    ::ng-deep .mat-step-header .mat-step-text-label{ font-size: 14px; }
    form .input-form, form .select-form{ width: 100%; }
    input[type="file"]::file-selector-button{ height: 33px; }
    :host ::ng-deep .mat-vertical-content{ padding: 0 0 0 24px  !important; }
}