body{
    width: 100%;
    min-height: 90dvb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
}
section{
    width: 600px;
    min-height: 50dvh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
h2{ color: var(--blue-2); width: 100%; text-align: left; }
span{ width: 100%; display: inline-flex;}

form .activities-controls, form .units-controls{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
form .units-controls .remove{ margin-right: 8px; background-color: var(--red); }
form .activities-controls button{ display: flex; align-items: center; justify-content: center; }
form .activities-controls .remove{ background-color: transparent; margin-right: 8px; fill: var(--red); }
form .activities-controls .add{ background-color: transparent; fill: var(--blue-2); }

form .field-form{
    width: 100%;
    display: flex;
    align-items: center;
}
form .field-form svg{
    width: 24px;
    height: 24px;
    margin-right: 8px;
    fill: var(--blue-2);
}
form .input-form, form .select-form{ width: 100%; }

form .btn-options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

/* file upload list */
input[type="file"]{
    padding: 0;
    background-color: transparent;
}
input[type="file"]::file-selector-button {
    width: 100%;
    cursor: pointer;
    position: relative;
    color: var(--black);
    padding: 0;
    height: 35px;
    border: 1px solid var(--blue-2);
    border-radius: 4px;
    background-color: transparent;
}
/* Styles stepper */
::ng-deep mat-stepper {
    max-width: 100%;
    width: 100%;
}
:host ::ng-deep .mat-horizontal-content-container {
    padding: 0 !important;
    width: 100%;
}
:host ::ng-deep .mat-vertical-content{
    padding: 0 !important;
}
::ng-deep .mat-step-header{ padding: 24px 0 !important; }
::ng-deep .mat-step-header .mat-step-icon-selected { background-color: var(--blue-2) !important;}

.files{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.file-name {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    border: 1px solid var(--orange);
    padding: 4px 8px;
    border-radius: 4px;
}