<body [ngClass]="darkTheme() ? 'dark-theme' : ''">
    <section class="container">
        <h2 class="mb-24"> Registrar nuevo grupo</h2>

        <span class="text">
            Ingresa la información correspondiente
            al grupo, actividades y sube la lista de alumnos para completar
            el registro.
        </span>

        <mat-stepper [linear]="isLinear" labelPosition="bottom" #stepper orientation="horizontal">

            <mat-step [stepControl]="groupForm" [completed]="false">
                <form [formGroup]="groupForm">
                    <ng-template matStepLabel class="text">
                        Grupo
                    </ng-template>

                    <div class="field-form mb-24">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 17.366 5.077 13.08v4.614L12 21.86l6.923-4.166V13.08L12 17.366Z"></path>
                            <path d="M23.088 8.999 12 2.135.912 8.999 12 15.863l9-5.572V18h2.077V9.005l.01-.006Z"></path>
                        </svg>
                        <p class="text">Grupo: </p>
                    </div>
                    <select class="select-form mb-24">
                        <option value="">2R11</option>
                        <option value="">3R11</option>
                    </select>

                    <div class="field-form mb-24">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.25 7.125A2.625 2.625 0 0 0 20.625 4.5H10.318a1.12 1.12 0 0 1-.624-.188l-1.303-.87A2.614 2.614 0 0 0 6.932 3H3.375A2.625 2.625 0 0 0 .75 5.625v2.25a.375.375 0 0 0 .375.375h21.75a.375.375 0 0 0 .375-.375v-.75Z"></path>
                            <path d="M.75 18.375A2.625 2.625 0 0 0 3.375 21h17.25a2.625 2.625 0 0 0 2.625-2.625v-8.25a.375.375 0 0 0-.375-.375H1.125a.375.375 0 0 0-.375.375v8.25Z"></path>
                        </svg>
                        <p class="text">Materia: </p>
                    </div>
                    <input type="text" class="input-form mb-24" placeholder="Ej: Matematicas">

                    <div class="field-form mb-24">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.5 21.375A1.125 1.125 0 0 0 2.625 22.5h18.75a1.125 1.125 0 0 0 1.125-1.125V8.25h-21v13.125ZM16.04 9.937h1.21v9.376h-1.5v-7.3l-1.659 1.223-.89-1.207 2.838-2.091Zm-5.634 5.78c-.4-.41-1.066-.594-1.411-.594h-.75v-1.5h.75c.227 0 .816-.122 1.185-.499a1.033 1.033 0 0 0 .308-.754c0-1.089-1.342-1.12-1.495-1.12-.813 0-1.116.497-1.128.518l-.381.646-1.292-.762.381-.646c.358-.61 1.182-1.256 2.42-1.256.77 0 1.489.224 2.022.63.627.477.973 1.184.973 1.99a2.532 2.532 0 0 1-.906 1.96 3.1 3.1 0 0 1 .394.339c.495.506.757 1.207.757 2.027a2.63 2.63 0 0 1-1.004 2.106c-.57.45-1.348.698-2.19.698-1.306 0-2.272-.851-2.702-1.58l-.381-.646 1.292-.762.382.644c.05.087.523.844 1.411.844.781 0 1.693-.342 1.693-1.304 0-.293-.057-.7-.328-.979Z"></path>
                            <path d="M21.375 3h-2.621V1.5h-2.25V3H7.496V1.5h-2.25V3H2.625A1.116 1.116 0 0 0 1.5 4.114V6.75h21V4.114A1.117 1.117 0 0 0 21.375 3Z"></path>
                        </svg>
                        <p class="text">Periodo: </p>
                    </div>
                    <select class="select-form mb-24">
                        <option value="">ENERO - JUNIO 2024</option>
                        <option value="">AGOSTO - DICIEMBRE 2024</option>
                    </select>

                    <div class="btn-options">
                        <button class="btn-secondary" (click)="backGroups()">Cancelar</button>
                        <button class="btn-primary" matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="unitForm" [completed]="false">
                <form [formGroup]="unitForm" class="step-activities">

                    <ng-template matStepLabel class="text">
                      Unidades
                    </ng-template>
                  
                    <div class="units-controls mb-24">
                      <button class="btn-primary remove" (click)="removeUnit()"> Eliminar unidad </button>
                      <button class="btn-primary add" (click)="addUnit()"> Agregar unidad </button>
                    </div>
                  
                    <div formArrayName="units" class="mb-24">
                      <div *ngFor="let unit of unitControls; let unidad = index">

                        <span class="text"> Actividades unidad {{ unidad + 1 }}</span>

                        <div class="activities-controls">
                          <button class="btn-primary remove" (click)="removeActivity(unidad)">
                            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12 2.25c-5.376 0-9.75 4.374-9.75 9.75s4.374 9.75 9.75 9.75 9.75-4.374 9.75-9.75S17.376 2.25 12 2.25Zm3.75 10.5h-7.5a.75.75 0 1 1 0-1.5h7.5a.75.75 0 1 1 0 1.5Z"></path>
                            </svg>
                          </button>
                          <button class="btn-primary add" (click)="addActivity(unidad)">
                            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12 2.25c-5.376 0-9.75 4.374-9.75 9.75s4.374 9.75 9.75 9.75 9.75-4.374 9.75-9.75S17.376 2.25 12 2.25Zm3.75 10.5h-3v3a.75.75 0 1 1-1.5 0v-3h-3a.75.75 0 1 1 0-1.5h3v-3a.75.75 0 1 1 1.5 0v3h3a.75.75 0 1 1 0 1.5Z"></path>
                            </svg>
                          </button>
                        </div>
                  
                        <div>
                          <div *ngFor="let activity of getActivityControls(unidad); let index = index">
                            <div [formGroupName]="index">
                              
                                <div class="field-form mb-24">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M3.75 2.063v19.875a.562.562 0 0 0 .563.562h15.375a.562.562 0 0 0 .562-.563V2.063a.563.563 0 0 0-.563-.562H4.313a.563.563 0 0 0-.562.563Zm9 12.187H7.5v-1.5h5.25v1.5Zm3.75-3.75h-9V9h9v1.5Zm0-3.75h-9v-1.5h9v1.5Z"></path>
                                </svg>
                                <p class="text">Actividad {{ index + 1 }}: </p>
                              </div>

                              <input type="text" class="input-form mb-24" placeholder="Ej: Examen">

                              <div class="field-form mb-24">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M6 23.25H2.25v-9H6v9Z"></path>
                                  <path d="M16.5 23.25h-3.75V9.75h3.75v13.5Z"></path>
                                  <path d="M21.75 23.25H18V4.5h3.75v18.75Z"></path>
                                  <path d="M11.25 23.25H7.5V.75h3.75v22.5Z"></path>
                                </svg>
                                <p class="text">Porcentaje {{ index + 1 }}: </p>
                              </div>

                              <select class="select-form mb-24">
                                <option value="0">0%</option>
                                <option value="10">10%</option>
                                <option value="20">20%</option>
                                <option value="30">30%</option>
                                <option value="40">40%</option>
                                <option value="50">50%</option>
                                <option value="60">60%</option>
                                <option value="70">70%</option>
                                <option value="80">80%</option>
                                <option value="90">90%</option>
                                <option value="100">100%</option>
                              </select>

                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="btn-options">
                        <button class="btn-secondary" matStepperPrevious>Anterior</button>
                        <button class="btn-primary" matStepperNext>Siguiente</button>
                    </div>

                  </form>
            </mat-step>

            <mat-step [stepControl]="unitForm" [completed]="false">
                <form [formGroup]="unitForm">
                    <ng-template matStepLabel class="text">
                        Alumnos
                    </ng-template>

                    <div class="field-form mb-24">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.125 11.25a.375.375 0 0 1-.375-.375V2.25h-2.684a3.066 3.066 0 0 0-.304-.46C9.222 1.12 8.418.75 7.5.75c-1.766 0-3 1.388-3 3.375v6.75c0 1.172.953 1.875 1.875 1.875a1.856 1.856 0 0 0 1.875-1.875V3.75h-1.5v7.125a.363.363 0 0 1-.375.375c-.105 0-.375-.068-.375-.375v-6.75c0-.907.394-1.875 1.5-1.875C8.892 2.25 9 3.663 9 4.096V10.6c0 .818-.256 1.558-.722 2.084-.473.535-1.131.816-1.903.816s-1.43-.281-1.903-.816c-.466-.526-.722-1.266-.722-2.084V6.75h-1.5v3.85c0 2.414 1.556 4.201 3.75 4.384v6.954a.562.562 0 0 0 .563.562h14.625a.562.562 0 0 0 .562-.563V11.25h-8.625Z"></path>
                            <path d="M14.438 9.749h6.858a.094.094 0 0 0 .092-.112.094.094 0 0 0-.026-.048L14.41 2.637a.093.093 0 0 0-.16.066v6.858a.188.188 0 0 0 .188.188Z"></path>
                        </svg>
                        <p class="text">Lista de alumnos(excel): </p>
                    </div>
                    <input type="file" id="files" accept=".xlsx, .xls" multiple="false" (change)="onFileChange($event)" class="input-form mb-24">

                    <div class="files mb-24" *ngIf="files.length > 0">
                      <span class="file-name text-alt">{{ files[0].name }}</span>
                    </div>

                    <div class="btn-options">
                        <button class="btn-secondary" matStepperPrevious>Anterior</button>
                        <button class="btn-primary" matStepperNext>Guardar</button>
                    </div>
                </form>
            </mat-step>

        </mat-stepper>
    </section>
</body>