.dark-theme, ::ng-deep .dark-theme mat-stepper {
    background-color: var(--black);
}
.dark-theme section{
    box-shadow:
    -2px -1px 20px var(--dark),
    2px 1px 20px var(--dark);
}
.dark-theme .input-form, .dark-theme .select-form{
    background-color: var(--dark) !important;
    box-shadow: inset -1px -1px 10px var(--dark), 
    inset 1px 1px 10px var(--dark);
    color: var(--white);
}
.dark-theme .input-form::placeholder, .dark-theme .file-name{
    color: var(--white);
}
.dark-theme .input-form:-webkit-autofill,
.dark-theme .input-form:-webkit-autofill:hover, 
.dark-theme .input-form:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px var(--dark) inset !important;
    -webkit-text-fill-color: var(--white);
    color: var(--white);
}
.dark-theme input[type="file"]::file-selector-button{
    background-color: var(--black);
    color: var(--white);
}
::ng-deep .dark-theme .mat-stepper-vertical-line::before{ 
    background-color: var(--white);
}
.dark-theme section,
::ng-deep .dark-theme .mat-step-header .mat-step-text-label{ 
    color: var(--white); font-weight: 300; 
}