<div [ngClass]="darkTheme() ? 'dark-theme-card' : 'light-theme-card' ">
    <svg class="mb-12" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.25 7.125A2.625 2.625 0 0 0 20.625 4.5H10.318a1.12 1.12 0 0 1-.624-.188l-1.303-.87A2.614 2.614 0 0 0 6.932 3H3.375A2.625 2.625 0 0 0 .75 5.625v2.25a.375.375 0 0 0 .375.375h21.75a.375.375 0 0 0 .375-.375v-.75Z"></path>
        <path d="M.75 18.375A2.625 2.625 0 0 0 3.375 21h17.25a2.625 2.625 0 0 0 2.625-2.625v-8.25a.375.375 0 0 0-.375-.375H1.125a.375.375 0 0 0-.375.375v8.25Z"></path>
    </svg>
    <span class="text mb-12"> 2R11 </span>
    <p class="text mb-12"> Fundamentos de programacion I </p>
    <button class="btn-primary" (click)="openGroup()"> Ver grupo </button>
</div>